.tab-letter {
    font-size: 20px;
    transform: skew(26deg, 0deg);
    text-shadow: 1px -1px rgba(0,0,0,.1);
}

.Card {
    position: absolute;
    width: 100%;
    background-color: #F9EBDB;
    box-shadow: 2px 2px 4px rgba(0,0,0,.1)
}

.Card__circle {
    width: 60px;
    height: 30px; /* as the half of the width */
    background-color: inherit;
    border-top-left-radius: 30px;  /* 100px of height + 10px of border */
    border-top-right-radius: 30px; /* 100px of height + 10px of border */
    border-bottom: 0;
    position: relative;
    bottom: 30px;
    display: flex;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 0px 4px -4px rgba(0,0,0,.1);
    cursor: pointer;
 }

.Card__circle:hover {
    box-shadow: 5px 0px 7px -4px rgba(0,0,0,.4);
    z-index: 99;
}

.card__folded {
    transform: rotateX(50deg);
    box-shadow: inset 0px 8px 7px 5px rgba(0, 0, 0, 0.7);
    bottom: 26px;
}
